@mixin box($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-center-column {
	@include flex-center;
	flex-direction: column;
}

@mixin flex-center-vertical {
	display: flex;
	align-items: center;
}

@mixin flex-center-horizontal {
	display: flex;
	justify-content: center;
}

@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 600px) {
			@content;
		} //600px
	}
	@if $breakpoint == tab-port {
		@media (max-width: 900px) {
			@content;
		} //900px
	}
	@if $breakpoint == tab-land {
		@media (max-width: 1200px) {
			@content;
		} //1200px
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 1800px) {
			@content;
		} //1800px
	}
}
