*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	height: 100vh;
	line-height: 1.5;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}
