$clr-accent-400: hsl(268, 95%, 75%);
$clr-accent-900: hsl(269, 51%, 33%);

$clr-primary-400: hsl(240, 16%, 26%);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(0, 0%, 94%);
$clr-neutral-900: hsl(257, 90%, 8%);

$clr-orange-400: hsl(26, 98%, 68%);
$clr-purple-400: hsl(268, 100%, 72%);
$clr-green-400: hsl(162, 100%, 45%);
$clr-red-400: hsl(359, 100%, 65%);
$clr-yellow-400: hsl(37, 99%, 64%);
